#header {
  padding-top: 25px;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

.main.style2 ul.major-icons li .icon {
  background: rgba(50,50,50,0.85);
}

.main.style2 ul.major-icons li .devicon::before {
  font-family: devicon;
}

.main.style2 ul.major-icons li .devicons::before {
  font-family: devicons;
}

.main.style2 ul.major-icons li .color-red {
  color: #ff0000;
}

.main.style2 ul.major-icons li .color-jira {
  color: #205081;
}

a:focus, a:hover {
  text-decoration: none;
}

.row:not(:last-child):after {
    padding-bottom: 3em;
}

.refsep {
    border-left: 1px solid rgba(144, 144, 144, 0.5);
    height: 300px;
    margin-top: 50px;
    padding: 0 !important;
    width: 1px;
}

ul.technologies {
  list-style-type: none;
}

ul.technologies li {
  border-left: solid 1px;
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding: 0 0 0 1em;
}

ul.technologies li:first-child {
  border-left: 0;
  margin-left: 0;
  padding: 0;
}

#footer h4 {
  margin-bottom: 0;
}

#footer ul.contactdetails {
  list-style: none;
  padding-left: 0;
}

#footer ul.contactdetails li.icon:before {
  padding-right: 10px;
}

#language-switcher {
  margin: 0;
}

#language-switcher ul.navbar-right {
  list-style: none;
  margin-right: 5px;
}

#language-switcher ul.navbar-right li {
  display: block;
}

#language-switcher ul.navbar-right li>a:focus, #language-switcher ul.navbar-right li>a:hover {
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

/* changing gallery navigation, "important" is needed as the gallery writes the style directly to the element */

div.nav-previous > div {
  margin-left: -100px;
  margin-top: 0 !important;
}

div.nav-next > div {
  margin-right: -100px;
  margin-top: 0 !important;
}