{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ applicant.user.first_name }} {{ applicant.user.last_name }}" >
    <link rel="shortcut icon" href="{% static 'application/img/favicon.ico' %}">

    <title>{{ applicant.user.first_name }} {{ applicant.user.last_name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'application/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'application/css/customize.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'application/bootstrap/js/bootstrap/html5shiv.js' %}"></script>
      <script src="{% static 'application/bootstrap/js/bootstrap/respond.min.js' %}"></script>
    <![endif]-->
    <script src="{% static 'application/js/language-switcher.js' %}"></script>

    {% block extrahead %}
    {% endblock %}
</head>
<body>

{% block navigation%}
{% include 'application/navigation.html' %}
{% endblock %}

<div class="container">
{% block content %}
{% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'application/js/jquery.js' %}"></script>
<script src="{% static 'application/bootstrap/js/bootstrap.min.js' %}"></script>

{% block page_end %}
{% endblock %}

</body>
</html>