{% load i18n static %}

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<span class="navbar-brand">-->
            <!--<img alt="brand" src="{% static 'application/img/ks-small.png' %}">-->
            <!--</span>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if active == 'index' %}class="active"{% endif %}>
                    <a href="{% url 'index' applicant.user.username %}">{% trans 'Home' %}</a>
                </li>
                <li {% if active == 'contact' %}class="active"{% endif %}>
                    <a href="{% url 'contact' applicant.user.username %}">{% trans 'Contact' %}</a>
                </li>
                <li class="{% if active == 'references' %}active{% endif %} dropdown">
                    <a href="{% url 'references' applicant.user.username %}" class="dropdown-toggle"
                       data-toggle="dropdown">
                        {% trans 'References' %}<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'references' applicant.user.username %}"><b>{% trans 'Overview' %}</b></a></li>
                        <li>
                            <hr/>
                        </li>
                        {% for group, grouped_references in references.iteritems %}
                            <li><a href="{% url 'references' applicant.user.username %}#{{ group.public_name }}"><b>{{ group.name }}</b></a></li>
                            {% for reference in grouped_references %}
                                <li><a href="{% url 'references' applicant.user.username %}#{{ group.public_name }}-{{ reference.public_name }}">{{ reference.short_name }}</a></li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <form action="{% url 'set_language' %}" method="post" id="language-switcher" class="navbar-form navbar-right" role="language">{% csrf_token %}
                <div class="form-group">
                    <input name="next" type="hidden" value="{{ redirect_to }}"/>
                    <select class="form-control" name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            <a href="">{{ language.name_local }} ({{ language.code }})</a>
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</div>