{% extends 'application/base.html' %}
{% load i18n reference_extras staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'application/css/blueimp-gallery.min.css' %}">
{% endblock %}

{% block content %}

    <div class="spacey">
    <div class="well well-sm well-info center">
        {% blocktrans with mail=applicant.user.email %}This string will have {{ mail }} inside.{% endblocktrans %}
    </div>
</div>

{% reference_table applicant references %}

<h2>{% trans 'Projects' %}</h2>

{% for group, grouped_references in references.iteritems %}
    <div class="panel panel-default center group-description">
      <div class="panel-heading">
        <h3 class="panel-title">{{ group.name }}</h3>
      </div>
      <div class="panel-body">
        {{ group.description }}
      </div>
    </div>

    {% for reference in grouped_references %}
        {% reference group reference %}
    {% endfor %}

{% endfor %}

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

{% endblock %}

{% block page_end %}

    <script src="{% static 'application/js/blueimp-gallery.min.js' %}"></script>
    <script>

	    var galleries = [
            {% for group, grouped_references in references.iteritems %}
                {% for reference in grouped_references %}
                    '{{ group.public_name }}-{{ reference.public_name }}',
                {% endfor %}
            {% endfor %}
		];

		for (var gal in galleries) {
			document.getElementById(galleries[gal]+'-gallery').onclick = function (event) {
			    event = event || window.event;
    			var target = event.target || event.srcElement,
        		    link = target.src ? target.parentNode : target,
        		    options = {index: link, event: event},
        		    links = this.getElementsByTagName('a');
    			blueimp.Gallery(links, options);
			};

		}

	</script>

{% endblock %}