body {
  padding-top: 50px;
}

.starter-container {
  padding: 40px 15px;
  text-align: center;
}

.spacey {
	padding-top: 35px;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.img-full {
    width: 100%;
}

.gallery {
	width: 250px;
}

.gallery img {
	width: 50px;
}

#references {
	border-collapse:collapse;
	padding-top: 345px;	
}

#references td, #references th {
	font-size:1em;
	padding:3px 7px 2px 7px;
	border:1px solid #ddd;
}

#references th {
	color:#333;
	background-color:#f5f5f5;
	border-color:#ddd;
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
}

#references small {
}

#references tr.alt td {
	color:#000000;
	background-color:#f5f5f5;
}

.void-div {
	display: block;
}

#references tr.legendrow td {
	margin-left: auto;
	border: 0px;
	text-align: right;
}

.legend {
	display: inline;	
}

ul.contactdetails {
    padding-left: 0;
}

.contactdetails li {
    color: #777;
    font-size: 80%;
    line-height: 1.42857143;
    list-style-type: none;
}

.contactdetails li .glyphicon {
    padding-right: 5px;
}

.well-info {
    width: 70%;
}