body {
  padding-top: 50px;
}

.starter-container {
  padding: 40px 15px;
  text-align: center;
}

.spacey {
	padding-top: 35px;
}

.center {
	margin-left: auto;
    margin-right: auto;
}

.img-full {
    width: 100%;
}

.gallery {
	width: 250px;
}

.gallery img {
	width: 50px;
}

.reference_group {
    vertical-align: middle !important;
}

.group-description {
    width: 75%;
}

.menu-reference {
    padding-left: 25px !important;
}

.void-div {
	display: block;
}

div.legend {
    display: inline;
    padding-left: 25px;
}

div.legend .glyphicon {
    padding-right: 5px;
}

ul.contactdetails {
    padding-left: 0;
}

.contactdetails li {
    color: #777;
    font-size: 80%;
    line-height: 1.42857143;
    list-style-type: none;
}

.contactdetails li .glyphicon {
    padding-right: 5px;
}

.well-info {
    width: 70%;
}